											/* CARTAS ALOJAMIENTO-EXCURSIONES */

.card-title1 {text-align: $centro;
	padding-top: 0px;}

.card2 {background-color: $celeste;
	border: 2px solid $celeste;
	box-shadow: 0 0.5rem 1rem $gris;}

.card3 {background-color: $rosa;
	border: 2px solid $rosa;
	box-shadow: 0 0.5rem 1rem $gris;}

.card4 {background-color: $rosa;
	border: 2px solid $rosa;
	box-shadow: 0 0.5rem 1rem $gris;}

.card5 {background-color: $celeste;
	border: 2px solid $celeste;
	box-shadow: 0 0.5rem 1rem $gris;}

.card2:hover {background-color: $violeta;
	border: 2px solid $violeta;}

.card3:hover {background-color: $violeta;
	border: 2px solid $violeta;}

.card4:hover {background-color: $violeta;
	border: 2px solid $violeta;}

.card5:hover {background-color: $violeta;
	border: 2px solid $violeta;}